<p id="notice"><%= notice %></p>
<div class="allcontain">
<h1>Countries</h1>

  <table data-toggle="table" width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead style= "background-color: #bdacac; font-family: 'Liberation Sans';font-size: 12.7px">
    <tr class="text-gray">
      <th>Name</th>
      <th data-sortable="true">Population</th>
      <th>Phone Code</th>
      <th>Currency Code</th>
      <th>Timezone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries_for_select2.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.population %></td>
        <td><%= country.phone_code %></td>
        <td><%= country.currency_code %></td>
        <td><%= country.timezone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="form-control">
<%= link_to 'Back', root_path %>
</div>