<p id="notice"><%= notice %></p>
<div class="allcontain">
<h2>Countries</h2>
<%= react_component 'Countries', { data: @countries } %>

  <table data-toggle="table" width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead style= "background-color: #d1cdc2; font-family: 'Liberation Sans'; font-size: 12.2px;">
    <tr class="text-gray">
      <th>Name</th>
      <th data-sortable="true">Population</th>
      <th>Phone Code</th>
      <th>Currency Code</th>
      <th>Timezone</th>
    </tr>
  </thead>

  <tbody style= "font-size: 85%;">
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.population %></td>
        <td><%= country.phone_code %></td>
        <td><%= country.currency_code %></td>
        <td><%= country.timezone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= form_tag(search_countries_path, method: :get) do %>
  <%= label_tag("Find by code")%>
  <%= select_tag("phone_code", options_from_collection_for_select(Country.all, :phone_code, :phone_code), class: "select2", id: "select-single", :include_blank => true, data: {placeholder: "Choose a Country"}) %>
  <%= submit_tag("Search", class: "btn btn-primary") %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('.select-single').select2({
    placeholder: "Choose a country",
    allowClear: true
  });
});
</script>
<%= will_paginate @countries %>