<!DOCTYPE html>
<html>
  <head>
    <title>Country List</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('jquery.js') %>
    <%= javascript_include_tag('bootstrap.js') %>
  </head>

  <body>
    <div class="allcontain">
	   <div class="header">
      <%= form_tag(search_countries_url, method: :get) do %>
       <%= label_tag("Choose a country")%>
       <%= select_tag("name", options_from_collection_for_select(Country.all, :name, :name), class: "select2", :include_blank => true, data: {placeholder: "Choose a Country"}) %>
       <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
     </div>
    </div>
    <%= yield %>
  </body>
</html>
